/*  */

/* Google Font Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

:root{
    /* Global Secondary Color */
    --secondary: ;

    /* For Bg Light */
    --bg-light: #ffffff;
    --primary-light: #1d1d1d;
    --tertiary-light: #707070;
    --product-hover-effect-light: 0 1px 12px rgba(0, 0, 0, 0.2);
    
    /* --product-card-box-shadow-light: 0 1px 12px rgba(0, 0, 0, 0.2); */

    /* For Bg Dark */
    --bg-dark: #141414;
    --primary-dark: ;
    --tertiary-dark: ;
    --product-card-box-shadow-dark: ;
    --product-hover-effect-dark: ;

    /* Font Sizes */
    
}

/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-dark);
}


/* End of CSS */