/*  */

/* Google Font Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Create own custom scrollbar */
/* Width */
::-webkit-scrollbar{
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #a8a8a8;
}
/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover{
    background: #9a9a9a;
}


:root{
    /* Global Secondary Color */
    --secondary: #19A7CE;

    /* For Bg Light */
    --bg-light: #ffffff;
    --primary-light: #1d1d1d;
    --tertiary-light: #3f3f3f;
    --product-hover-effect-light: 0 1px 12px rgba(0, 0, 0, 0.2);
    
    /* --product-card-box-shadow-light: 0 1px 12px rgba(0, 0, 0, 0.2); */

    /* For Bg Dark */
    --bg-dark: #141414;
    --primary-dark: ;
    --tertiary-dark: ;
    --product-card-box-shadow-dark: ;
    --product-hover-effect-dark: ;

    /* Font Sizes */
    
}

/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-light);
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
    z-index: 1;
}

/* Store info and social account section */
.store_info{
    width: 100%;
    height: auto;
    display: flex;
    padding: 6px 60px;
    align-items: center;
    justify-content: space-between;
    background: rgba(25, 167, 206, 0.07);
}

/* Contact & Email Section Styling */
.contact_section{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.contact_box{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.contact_box i{
    font-size: 0.80rem;
    color: var(--tertiary-light);
}
.contact_box p{
    font-size: 0.99rem;
    font-weight: 400;
    color: var(--tertiary-light);
    cursor: pointer;
}

 /* Social media and Currency section */
.social_section{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.social_section select{
    outline: none;
    background: none;
    border: none;
    font-size: 0.99rem;
    color: var(--tertiary-light);
    cursor: pointer;
}
.social_section select option{
    outline: none;
    border: none;
    padding: 12px;
    font-size: 0.99rem;
    color: var(--tertiary-light);
    background: var(--bg-light);
    border: 1px solid var(--bg-light);
}

.social_box{
    display: flex;
    align-items: center;
    column-gap: 1.0rem;
}
.social_box a{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_box a i{
    font-size: 0.89rem;
    color: var(--tertiary-light);
}


/* Logo, Search, and User Action Section */
.logo_search_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background: var(--bg-light);
}
.logo_search_section.fixed{
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background: var(--bg-light);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
/* Logo Section */
.logo{
    width: 170px;
    height: 6.5vh;
}

/* Search Section */
.search_section{
    width: 50%;
    height: 42px;
    padding: 0 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.09);
}
.search_box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.search_box i{
    font-size: 1.0rem;
    color: var(--tertiary-light);
}
.search_box input{
    width: 75%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 1.0rem;
    color: var(--tertiary-light);
}
.vr{
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    margin-right: 0.5rem;
}

.search_section select{
    width: 25%;
    height: 100px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.0rem;
    color: var(--tertiary-light);
    cursor: pointer;
}


/* User Action Section */
.action_section{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}
.action_section button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-light);
}
.action_section a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-light);
}

/* Nav Items Section Styling */
.nav_items{
    width: 100%;
    height: auto;
    padding: 15px 60px;
    background: rgba(25, 167, 206, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_items ul{
    display: block;
}
.nav_items li{
    display: inline-block;
    margin-right: 1.7rem;
}
.nav_items li a{
    font-size: 1.2rem;
    color: var(--primary-light);
    font-weight: 500;
    letter-spacing: 0.06rem;
}


/* Hero Section */
.hero_section{
    width: 100%;
    height: auto;
}
.swiper-slide{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 60px;
}

.swiper-slide img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.autoplay-progress {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 10;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--secondary);
    background: rgba(25, 167, 206, 0.07);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--secondary);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 4%);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}
.swiper-button-prev, 
.swiper-rtl 
.swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 5%);
    right: auto;
    width: 50px;
    height: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.48);
    color: var(--secondary);
    border-radius: 4px;
}
.swiper-button-next, 
.swiper-rtl 
.swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 5%);
    left: auto;
    width: 50px;
    height: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.48);
    color: var(--secondary);
    border-radius: 4px;
}

/* Services Section */
.our_services{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 40px 60px;
    background: rgba(102, 51, 153, 0.07);
    border-radius: 4px;
}
.service_box{
    width: 330px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.0rem;
    padding: 10px;
}
.service_icon{
    width: 80px;
    height: 80px;
}
.service_icon img{
    width: 100%;
    height: 100%;
}
.service_info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0.4rem;
}
.service_info h5{
    font-size: 1.3rem;
    color: var(--primary-light);
    font-weight: 500;
    letter-spacing: 0.05rem;
}

/* Best Selling Products Page */
.categories_section{
    width: 100%;
    height: auto;
    padding: 40px 60px;
}
.box_title{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-light);
    margin-bottom: 1.4rem;
}
.category_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.1rem;
}
.category_card{
    position: relative;
    width: 250px;
    height: 28vh;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.cat_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-out;
}
.cat_title{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    background: rgba(25, 167, 206, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--tertiary-light);
}
.category_card:hover .cat_img{
    transform: scale(1.4) skew(10deg);
}

/* Popular Product Section */
.popular_section{
    width: 100%;
    height: auto;
    padding: 40px 60px;
}
.popular_card{
    width: 270px;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}
.popoular_img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}





/* End of CSS */