/*  */

/* Google Font Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* Create own custom scrollbar */
/* Width */
::-webkit-scrollbar{
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track{
    background: #f0f0f0;
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb{
    background: #a8a8a8;
}
/* Scrollbar Handle Hover */
::-webkit-scrollbar-thumb:hover{
    background: #9a9a9a;
}


:root{
    /* Global Secondary Color */
    --secondary: #19A7CE;

    /* For Bg Light */
    --bg-light: #ffffff;
    --primary-light: #1d1d1d;
    --tertiary-light: #3f3f3f;
    --product-hover-effect-light: 0 1px 12px rgba(0, 0, 0, 0.2);
    
    /* --product-card-box-shadow-light: 0 1px 12px rgba(0, 0, 0, 0.2); */

    /* For Bg Dark */
    --bg-dark: #141414;
    --primary-dark: ;
    --tertiary-dark: ;
    --product-card-box-shadow-dark: ;
    --product-hover-effect-dark: ;

    /* Font Sizes */
    
}

/* Main Section */
.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-light);
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Store info and social account section */
.store_info{
    width: 100%;
    height: auto;
    display: flex;
    padding: 6px 60px;
    align-items: center;
    justify-content: space-between;
    background: rgba(25, 167, 206, 0.07);
}

/* Contact & Email Section Styling */
.contact_section{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.contact_box{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.contact_box i{
    font-size: 0.80rem;
    color: var(--tertiary-light);
}
.contact_box p{
    font-size: 0.99rem;
    font-weight: 400;
    color: var(--tertiary-light);
    cursor: pointer;
}

 /* Social media and Currency section */
.social_section{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.social_section select{
    outline: none;
    background: none;
    border: none;
    font-size: 0.99rem;
    color: var(--tertiary-light);
}
.social_section select option{
    outline: none;
    border: none;
    padding: 12px;
    font-size: 0.99rem;
    color: var(--tertiary-light);
    background: var(--bg-light);
    border: 1px solid var(--bg-light);
}

.social_box{
    display: flex;
    align-items: center;
    column-gap: 1.0rem;
}
.social_box a{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_box a i{
    font-size: 0.89rem;
    color: var(--tertiary-light);
}




.logo{
    width: 150px;
    height: 20px;
}












/* End of CSS */